DEEPSEEK_MODEL_NAME=deepseek-chat
DEEPSEEK_API_KEY=replace-with-your-deepseek-key
TEMPERATURE=0
MAX_TOKENS=None
TIMEOUT=None
MAX_RETRIES=2

embedding_model_name=text-embedding-v4
DashScopeAPI=replace-with-your-dashscope-key
collection_name=RAGAgentPapers
k=8
persist_directory=chroma_db
data_path=data/papers
md5_hex_store=md5.text
allow_knowledge_file_type=["txt","pdf"]
chunk_size=1200
chunk_overlap=250

main_prompt_path=prompts/main_prompt.txt
rag_prompt_path=prompts/rag.txt
rag_summarize_prompt_path=prompts/rag.txt
external_data_path=data/external/records.csv
